---
import "src/components/card-for-cases/CardForCases.less";
import { Image } from "astro:assets";
import VerticalLineTitle from "src/components/vertical-line-title/VerticalLineTitle.astro";
import Button from "src/components/button/Button.astro";
import Modal from "src/components/card-for-cases/modal/Modal.astro";

export type CardForCasesProps = {
    /**
     * Картинка карточки.
     */
    image?: ImageMetadata;

    /**
     * иконка карточки.
     */
    icon?: ImageMetadata;

    /**
     * Ссылка для иконки.
     */
    iconLink?: string;

    /**
     * Заголовок карточки.
     */
    title?: string;

    /**
     * Подзаголовок карточки.
     */
    subtitle?: string;

    /**
     * описание карточки.
     * firstPart, secondPart - жирный шифт
     */
    descriptions?: {
        firstPart?: string;
        firstHighlight?: string;
        secondPart?: string;
        secondHighlight?: string;
    };

    /**
     * Дополнительный css-класс.
     */
    className?: string;

    /**
     * Текст у кнопки.
     */
    buttonLabel?: string;

    /**
     * Модальное окно.
     */
    modalContent?: string;

    /**
     * Отображение вертикальной линии.
     * По умолчанию видима.
     */
    showVerticalLine?: boolean;

    /**
     * Отображение кнопки.
     * По умолчанию видима.
     */
    showButton?: boolean;
};

const {
    image,
    icon,
    iconLink,
    title,
    subtitle,
    descriptions = {},
    buttonLabel = "Читать",
    modalContent = "",
    className = "",
    showVerticalLine = true,
    showButton = true,
} = Astro.props;

let isModalOpen = false;

/**
 * Компонент карточки с фото и заголовками в синей вертикальной линии.
 *
 * Определяющий css-класс: "devops-card".
 *
 */
---

<div class={`devops-card ${className}`}>
    <Image
        slot="image"
        src={image}
        alt={title || "icon"}
        class="devops-image"
    />

    <div slot="title" class="title-container">
        {
            showVerticalLine ? (
                <div class="title-wrapper">
                    {" "}
                    <VerticalLineTitle title={title} class="devops-title">
                        {subtitle && <span class="subtitle">{subtitle}</span>}
                        {icon && (
                            <a href={iconLink} class="icon-link">
                                <Image
                                    src={icon}
                                    alt="Action icon"
                                    class="action-icon"
                                />
                            </a>
                        )}
                    </VerticalLineTitle>
                </div>
            ) : (
                <h3 class="simple-title">{title}</h3>
            )
        }
    </div>

    <div slot="description" class="devops-content">
        {
            descriptions.firstPart || descriptions.firstHighlight ? (
                <p class="case-text">
                    {descriptions.firstPart && (
                        <span>{descriptions.firstPart}</span>
                    )}
                    {descriptions.firstHighlight}
                </p>
            ) : null
        }

        {
            descriptions.secondPart || descriptions.secondHighlight ? (
                <p class="case-text">
                    {descriptions.secondPart && (
                        <span>{descriptions.secondPart}</span>
                    )}
                    {descriptions.secondHighlight &&
                        ` ${descriptions.secondHighlight}`}
                </p>
            ) : null
        }
        {
            showButton && (
                <Button
                    label={buttonLabel}
                    variant="blue"
                    size="medium"
                    className="devops-button"
                    onClick={() => (isModalOpen = true)}
                />
            )
        }
    </div>

    <Modal
        isOpen={isModalOpen}
        closeModal={() => (isModalOpen = false)}
        content={modalContent}
    />
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const isHTMLElement = (
            target: EventTarget | null
        ): target is HTMLElement => {
            return target instanceof HTMLElement;
        };

        document.querySelectorAll(".devops-button").forEach((button) => {
            button.addEventListener("click", (e) => {
                if (!isHTMLElement(e.target)) return;

                const card = e.target.closest(".devops-card");
                if (!card) return;

                const modal = card.querySelector(".modal-overlay");
                if (!(modal instanceof HTMLElement)) return;

                modal.classList.add("open");
            });
        });

        document.querySelectorAll(".modal-close").forEach((button) => {
            button.addEventListener("click", (e) => {
                if (!isHTMLElement(e.target)) return;

                const modal = e.target.closest(".modal-overlay");
                if (!(modal instanceof HTMLElement)) return;

                modal.classList.remove("open");
            });
        });
    });
</script>
