---
import { Image } from "astro:assets";
import "src/layout/contact-us/ContactUs.less";
import viber from "@assets/images/viber.svg";
import telegram from "@assets/images/telegram3.svg";
import watsapp from "@assets/images/watsapp.svg";
import messages from "@assets/images/sticky-messages.svg";
import ceo from "@assets/images/ceo.png";
---

<div class="sticky-container">
    <div class="contact-button-bg">
        <button
            id="contact-button"
            class="contact-button"
            aria-label="Открыть контакты"
        >
            <Image src={messages} alt="Chat Icon" />
        </button>
    </div>

    <div id="contact-form" class="contact-form hidden">
        <div class="contact-header">
            <Image src={ceo} class="avatar" alt="CEO" />
            <div class="employee">
                <span class="name">Андрей Дорин</span>
                <div class="position">CEO компании</div>
            </div>
        </div>
        <p class="contact-description">
            Здравствуйте! <span>Свяжитесь</span> с нами любым удобным вам способом
            и мы ответим на все вопросы
        </p>
        <div class="contact-options">
            <a
                href="https://t.me/AndreyDorin"
                class="contact-link telegram"
                target="_blank"
                rel="noopener"
            >
                <Image src={telegram} alt="Telegram" /> Telegram
            </a>
            <a
                href="viber://chat?number=%2B375295128454"
                class="contact-link viber"
                target="_blank"
                rel="noopener"
            >
                <Image src={viber} alt="Viber" /> Viber
            </a>
            <a
                href="https://wa.me/375295128454"
                class="contact-link whatsapp"
                target="_blank"
                rel="noopener"
            >
                <Image src={watsapp} alt="WhatsApp" /> WhatsApp
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const button: any = document.getElementById("contact-button");
        const form: any = document.getElementById("contact-form");

        button.addEventListener("click", () => {
            form.classList.toggle("hidden");
        });

        document.addEventListener("click", (event) => {
            const target = event.target;

            if (!button.contains(target) && !form.contains(target)) {
                form.classList.add("hidden");
            }
        });
    });
</script>
