---
import {randomUUID} from 'crypto';
import 'src/components/button/Button.less';

export type ButtonProps = {
    label: string;
    type?: 'button' | 'submit' | 'reset';
    variant?: 'blue' | 'white' | 'outline';
    size?: 'big' | 'medium';
    className?: string
};

const {
    label,
    size = 'big',
    type = 'button',
    variant = 'blue',
    className = "",
} = Astro.props as ButtonProps;

const classNameStyle = `button ${className} ${variant} ${size}`;
---

<button type={type} class={classNameStyle}>
    {label}
</button>

