---
import 'src/components/button/Button.less';

type ButtonProps = {
  label: string,
  type?: "button" | "submit" | "reset";
  variant?: "blue" | "white";
  size?: "big" | "medium";
};

const {
  label,
  size = "big",
  type = "button",
  variant = "blue"
} = Astro.props as ButtonProps;

const className = `button ${variant} ${size}`;
---

<button type={type} class={className}>
    {label}
</button>
