---
export type ButtonProps = {
  label: string;
  id?: string;
  type?: "button" | "submit" | "reset";
  variant?: "blue" | "white" | "outline";
  size?: "big" | "medium";
  className?: string;
};

const {
  label,
  size = "big",
  type = "button",
  variant = "blue",
  className = "",
  id = "",
} = Astro.props as ButtonProps;

const classNameStyle = `button ${className} ${variant} ${size}`;
---

<button id={id} type={type} class={classNameStyle}>
  {label}
</button>

<style scoped lang="less">
  @import "@styles/fontsMixins.less";
  @import "@styles/colors.less";

  .button {
    .fontOpenSansBold();
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.big {
      font-size: 20px;
      padding: 7px 36px;
    }

    &.medium {
      font-size: 16px;
      padding: 7px 27px;
    }

    &.blue {
      color: @primary-white-text;
      background-color: @accent-blue;

      &:hover {
        background-color: @secondary-blue;
      }
    }

    &.white {
      color: @accent-blue;
      background-color: @background-white;

      &:hover {
        background-color: @button-white-hover;
      }
    }

    &.outline {
      color: @accent-blue;
      background-color: transparent;
      border: 1px solid @accent-blue;

      &:hover {
        background-color: @background-light-gray;
      }
    }
  }
</style>
