---
import "swiper/css";
import "swiper/css/navigation";
import "src/components/swiper/Swiper.less";
import { randomUUID } from "crypto";

/**
* Swiper props
*/
export type SwiperProps = {
    /**
     * Количество слайдов отображаемое при десктопном расширении экрана.
     *
     * По умолчанию = 3.
     */
    desktopSlidesPerView?: number;

    /**
     * Количество слайдов отображаемое при планшетном расширении экрана.
     *
     * По умолчанию = 2.
     */
    tabletSlidesPerView?: number;

    /**
     * Количество слайдов отображаемое при мобильном расширении экрана.
     *
     * По умолчанию = 1.
     */
    mobileSlidesPerView?: number;

    /**
     * Расстояние между карточками.
     *
     * По умолчанию = 10.
     */
    spaceBetween: number;
};

const id = `id-${randomUUID()}`;

const {
    desktopSlidesPerView = 3,
    tabletSlidesPerView = 2,
    mobileSlidesPerView = 1,
    spaceBetween = 10,
} = Astro.props as SwiperProps;
---

<astro-swiper
    class="swiper-container"
    data-id={id}
    data-space-between={spaceBetween}
    data-mobile-slides-per-view={mobileSlidesPerView}
    data-tablet-slides-per-view={tabletSlidesPerView}
    data-desktop-slides-per-view={desktopSlidesPerView}
>
    <div class=`swiper ${id}`>
        <div class="swiper-wrapper">
            <slot />
        </div>
    </div>

    <div class=`arrow arrow-left ${id}`></div>
    <div class=`arrow arrow-right ${id}`></div>
</astro-swiper>

<script >
    import SwiperLib from "swiper";
    import { Navigation } from "swiper/modules";

    class Swiper extends HTMLElement {
        connectedCallback() {
            let id = this.dataset.id;
            let spaceBetween = Number(this.dataset.spaceBetween);
            let mobileSlidesPerView = Number(this.dataset.mobileSlidesPerView);
            let tabletSlidesPerView = Number(this.dataset.tabletSlidesPerView);
            let desktopSlidesPerView = Number(
                this.dataset.desktopSlidesPerView,
            );

            new SwiperLib(`.swiper.${id}`, {
                modules: [Navigation],
                loop: true,
                navigation: {
                    nextEl: `.arrow.arrow-right.${id}`,
                    prevEl: `.arrow.arrow-left.${id}`,
                },
                grabCursor: true,
                slidesPerView: mobileSlidesPerView,
                spaceBetween: spaceBetween,
                breakpoints: {
                    // when window width is >=
                    941: {
                        slidesPerView: tabletSlidesPerView,
                    },
                    1190: {
                        slidesPerView: desktopSlidesPerView,
                    },
                },
            });
        }
    }
    customElements.define("astro-swiper", Swiper);
</script>
