---
import "src/components/card-work-reasons/CardWorkReasons.less";
import CardDefault from "src/components/card-default/CardDefault.astro";
import { Image } from "astro:assets";

export type CardWorkReasonsProps = {
    /**
     * Номер карточки.
     */
    step: string;

    /**
     * иконка пунктов у карточек.
     */
    icon: ImageMetadata;

    /**
     * Заголовок карточки.
     */
    title: string;

    /**
     * Описание карточки.
     */
    description: string;

    /**
     * Дополнительный css-класс.
     */
    className?: string;
};

const { step, icon, title, description, className = "" } = Astro.props;

/**
 * Компонент карточки для "Как мы помогли бизнесу".
 *
 * Определяющий css-класс: "card-work-reasons".
 *
 */
---

<div class="card-work-reasons-wrapper">
    <div class="step">{step}</div>

    <CardDefault className={`card-work-reasons ${className}`}>
        <div slot="title" class="title">
            <Image src={icon} alt="Иконка" class="work-reasons-icon" />
            {title}
        </div>
        <div slot="description" class="description">{description}</div>
    </CardDefault>
</div>
