---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import Swiper from "src/components/swiper/Swiper.astro";
import SwiperSlideElement from "src/components/swiper/SwiperSlideElement.astro";
import "src/components/our-projects/OurProjects.less";
import { Image } from "astro:assets";

/**
 * Интерфейс задания проекта.
 */
interface ProjectTask {
    /**
     * Заголовок задания проекта.
     */
    header: string;

    /**
     * Описание задания проекта.
     */
    descriptions: string[];
}

/**
 * Интерфейс решения проекта.
 */
interface ProjectSolution {
    /**
     * Заголовок решения проекта.
     */
    header: string;

    /**
     * Описание решения проекта.
     */
    description?: string;

    /**
     * Перечень в решении проекта.
     */
    items: ProjectItem[];
}

/**
 * Интерфейс строки из перечня решения.
 */
interface ProjectItem {
    /**
     * Категория у текста строки.
     */
    label?: string;

    /**
     * Текст строки.
     */
    text: string;
}

/**
 * Интерфейс проекта.
 */
interface Project {
    /**
     * Изображение фирмы.
     */
    image?: ImageMetadata;

    /**
     * Текст заголовка (используется если нет изображения)
     */
    headerText?: string;

    /**
     * Задание проекта.
     */
    task: ProjectTask;

    /**
     * Решение проекта.
     */
    solution: ProjectSolution;
}

const {
    title = "НАШИ ПРОЕКТЫ",
    projects = [] as Project[],
    className = "",
} = Astro.props;
---

<HorizontalLineTitle title={title} className={`our-projects ${className}`}>
    <div class="projects-wrapper">
        <Swiper
            desktopSlidesPerView={1}
            tabletSlidesPerView={1}
            mobileSlidesPerView={1}
            className="projects-swiper"
        >
            {
                projects.map((project: Project) => (
                    <SwiperSlideElement>
                        <div class="projects">
                            <div class="image-header">
                                {project.image ? (
                                    <div class="image-header">
                                        <Image
                                            src={project.image}
                                            alt="firm"
                                            class="header-image"
                                        />
                                    </div>
                                ) : (
                                    <h2 class="text-header">
                                        {project.headerText}
                                    </h2>
                                )}
                            </div>
                            <div class="project-content">
                                <div class="task-section">
                                    <div class="task">
                                        <h4>{project.task.header}</h4>
                                        {project.task.descriptions.map(
                                            (desc: string) => (
                                                <p>{desc}</p>
                                            )
                                        )}
                                    </div>
                                </div>
                                <div class="solution-section">
                                    <div class="solution">
                                        <h4>{project.solution.header}</h4>
                                        <p>{project.solution.description}</p>
                                        <ul>
                                            {project.solution.items.map(
                                                (item: ProjectItem) => (
                                                    <li>
                                                        {item.label && (
                                                            <span>
                                                                {item.label}:{" "}
                                                            </span>
                                                        )}
                                                        {item.text}
                                                    </li>
                                                )
                                            )}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </SwiperSlideElement>
                ))
            }
        </Swiper>
    </div>
</HorizontalLineTitle>
