---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import Swiper from "src/components/swiper/Swiper.astro";
import SwiperSlideElement from "src/components/swiper/SwiperSlideElement.astro";
import "src/components/our-projects/OurProjects.less";
import { Image } from "astro:assets";

/**
 * Интерфейс задания проекта.
 */
interface ProjectTask {
    /**
     * Иконка задачи.
     */
    taskImage?: ImageMetadata;

    /**
     * Заголовок задания проекта.
     */
    header: string;

    /**
     * Описание задания проекта.
     */
    descriptions: string[];

    /**
     * Перечень в задаче проекта.
     */
    items?: ProjectItem[];
}

/**
 * Интерфейс решения проекта.
 */
interface ProjectSolution {
    /**
     * Иконка решения.
     */
    solutionImage?: ImageMetadata;

    /**
     * Заголовок решения проекта.
     */
    header: string;

    /**
     * Описание решения проекта.
     */
    description?: string;

    /**
     * Перечень в решении проекта.
     */
    items: ProjectItem[];
}

/**
 * Интерфейс результатов проекта.
 */
interface ProjectResult {
    /**
     * Иконка результата.
     */
    resultImage?: ImageMetadata;

    /**
     * Заголовок решения проекта.
     */
    header: string;

    /**
     * Описание решения проекта.
     */
    description?: string;

    /**
     * Перечень в решении проекта.
     */
    items: ProjectItem[];
}

/**
 * Интерфейс строки из перечня решения.
 */
interface ProjectItem {
    /**
     * Категория у текста строки.
     */
    label?: string;

    /**
     * Текст строки.
     */
    text: string;
}

/**
 * Интерфейс проекта.
 */
interface Project {
    /**
     * Изображение фирмы.
     */
    image?: ImageMetadata;

    /**
     * Текст заголовка (используется если нет изображения)
     */
    headerText?: string;

    /**
     * Цель проекта.
     */
    goal?: string;

    /**
     * Задание проекта.
     */
    task: ProjectTask;

    /**
     * Решение проекта.
     */
    solution: ProjectSolution;

    /**
     * Результат проекта.
     */
    result: ProjectResult[];
}

const {
    title = "НАШИ ПРОЕКТЫ",
    projects = [] as Project[],
    className = "",
} = Astro.props;
---

<HorizontalLineTitle title={title} className={`our-projects ${className}`}>
    <div class="projects-wrapper">
        <Swiper
            desktopSlidesPerView={1}
            tabletSlidesPerView={1}
            mobileSlidesPerView={1}
            className="projects-swiper"
        >
            {
                projects.map((project: Project) => (
                    <SwiperSlideElement>
                        <div class="projects">
                            <div class="image-header">
                                <div class="image-or-title">
                                    {project.image ? (
                                        <Image
                                            src={project.image}
                                            alt="Обслуживание баз данных"
                                            class="header-image"
                                        />
                                    ) : (
                                        <h2 class="text-header">
                                            {project.headerText}
                                        </h2>
                                    )}
                                </div>
                                {project.goal && (
                                    <div class="project-goal">
                                        <p>{project.goal}</p>
                                    </div>
                                )}
                            </div>
                            <div class="project-content">
                                <div class="task-section">
                                    <div class="task">
                                        <h4>
                                            {project.task.taskImage && (
                                                <Image
                                                    src={project.task.taskImage}
                                                    alt="Миграция баз данных"
                                                    class="section-icon"
                                                />
                                            )}
                                            {project.task.header}
                                        </h4>
                                        {project.task.descriptions.map(
                                            (desc: string) => (
                                                <p>{desc}</p>
                                            )
                                        )}
                                        {project.task.items &&
                                            project.task.items.length > 0 && (
                                                <ul>
                                                    {project.task.items.map(
                                                        (item: ProjectItem) => (
                                                            <li>
                                                                {item.label && (
                                                                    <span>
                                                                        {
                                                                            item.label
                                                                        }
                                                                        :{" "}
                                                                    </span>
                                                                )}
                                                                <span
                                                                    set:html={
                                                                        item.text
                                                                    }
                                                                />
                                                            </li>
                                                        )
                                                    )}
                                                </ul>
                                            )}
                                    </div>
                                </div>
                                <div class="solution-section">
                                    <div class="solution">
                                        <h4>
                                            {project.solution.solutionImage && (
                                                <Image
                                                    src={
                                                        project.solution
                                                            .solutionImage
                                                    }
                                                    alt="Сопровождение приложений"
                                                    class="section-icon"
                                                />
                                            )}
                                            {project.solution.header}
                                        </h4>
                                        <p>{project.solution.description}</p>
                                        <ul class="numbered-list">
                                            {project.solution.items.map(
                                                (item: ProjectItem) => (
                                                    <li>
                                                        {item.label && (
                                                            <span>
                                                                {item.label}
                                                            </span>
                                                        )}
                                                        <span
                                                            set:html={item.text}
                                                        />
                                                    </li>
                                                )
                                            )}
                                        </ul>
                                    </div>
                                </div>
                                <div class="result-section">
                                    <div class="result">
                                        {project.result.map((section) => (
                                            <div class="result-block">
                                                <h4>
                                                    {section.resultImage && (
                                                        <Image
                                                            src={
                                                                section.resultImage
                                                            }
                                                            alt="Администрирование баз данных PostgreSQL"
                                                            class="section-icon"
                                                        />
                                                    )}
                                                    {section.header}
                                                </h4>
                                                {section.description && (
                                                    <p>{section.description}</p>
                                                )}
                                                <ul>
                                                    {section.items.map(
                                                        (item) => (
                                                            <li>
                                                                {item.label && (
                                                                    <span>
                                                                        {
                                                                            item.label
                                                                        }
                                                                    </span>
                                                                )}
                                                                <span
                                                                    set:html={
                                                                        item.text
                                                                    }
                                                                />
                                                            </li>
                                                        )
                                                    )}
                                                </ul>
                                            </div>
                                        ))}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </SwiperSlideElement>
                ))
            }
        </Swiper>
    </div>
</HorizontalLineTitle>
