---
import Button from "src/components/button/Button.astro";
import VerticalLineTitle from "src/components/vertical-line-title/VerticalLineTitle.astro";
import "src/components/info-block/InfoBlock.less";
import { Image } from "astro:assets";

export type InfoBlockProps = {
    /**
     * Заголовок блока.
     */
    title: string;

    /**
     * Описание блока.
     */
    descriptions: string[];

    /**
     * Надпись на кнопке.
     */
    buttonLabel?: string;

    /**
     * Изображение у блока.
     */
    image?: ImageMetadata;

    /**
     * Описание изображения блока.
     */
    alt?: string;

    /**
     * Дополнительный css-класс.
     */
    className?: string;

    /**
     * Отображение кнопки.
     * По умолчанию видима.
     */
    showButton?: boolean;
};

const {
    title,
    descriptions = [],
    buttonLabel,
    image,
    alt = "Image",
    className = "",
    showButton = true,
} = Astro.props;

/**
 *  Начальный блок с информацией.
 */
---

<div class={`info-block ${className}`}>
    <div class="content-container">
        <div class="info-content">
            <div class="info">
                <VerticalLineTitle title={title} className="info-block-title">
                    <div class="text-content">
                        {
                            descriptions.map((text: string) => (
                                <div class="text-line" set:html={text} />
                            ))
                        }
                    </div>
                </VerticalLineTitle>

                {showButton && <Button class="button" label={buttonLabel} />}
            </div>
        </div>

        {
            image && (
                <div class="image-content">
                    <Image src={image} alt={alt} class="main-image" />
                </div>
            )
        }
    </div>

    <slot name="additional-content"/>
</div>
