---
import HorizontalLineTitle from "src/components/horizontal-line-title/HorizontalLineTitle.astro";
import { Image } from "astro:assets";
import "src/components/card-for-cases/modal-content/ModalContent.less";

export interface ModalContentProps {
    image: ImageMetadata;
    textBlock: string;
    title: string;
    taskTitle: string;
    task: string;
    implementation: string;
    results: string;
    team: string;
    duration: string;
    moneyEffect: string;
}

const {
    image,
    textBlock,
    title,
    taskTitle,
    task,
    implementation,
    results,
    team,
    duration,
    moneyEffect,
} = Astro.props as ModalContentProps;
---

<div class="modal-content-wrapper">
    <div class="top-content-block">
        {
            image && (
                <Image src={image} alt="company" class="company-case-image" />
            )
        }
        {textBlock && <div class="text-content-block" set:html={textBlock} />}
    </div>

    <HorizontalLineTitle
        title={title}
        className="modal"
        contentClassName="modal-content-text"
    >
        <div class="task">
            <h3>Задача - <span>{taskTitle}</span></h3>
            <ul class="bulleted-list" set:html={task} />
        </div>

        <div class="implementation">
            <h3>Что сделали:</h3>
            <ul class="numbered-list" set:html={implementation} />
        </div>

        <div class="results">
            <h3>Результаты:</h3>
            <ul class="bulleted-list" set:html={results} />
        </div>

        {
            team && (
                <div class="text-in-line">
                    <h3>Команда: </h3>
                    <p>{team}</p>
                </div>
            )
        }

        {
            duration && (
                <div class="text-in-line">
                    <h3>Продолжительность: </h3>
                    <p>{duration}</p>
                </div>
            )
        }

        {
            moneyEffect && (
                <div class="text-in-line">
                    <h3>Денежный эффект: </h3>
                    <p>{moneyEffect}</p>
                </div>
            )
        }
    </HorizontalLineTitle>
</div>
